<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://kit.fontawesome.com/ae0aaf0095.js" crossorigin="anonymous"></script>
        <style>
            .font-nunito {
                font-family: 'Nunito', system-ui;
            }
        </style>
    </head>
    <body class="h-screen w-screen font-nunito">
        <div class=>
            <div class="flex flex-row w-screen space-x-4 bg-teal-500 p-4">
                <a href="https://github.com/Jolvera2001/job-tracker"><i class="fa-brands fa-github fa-2xl"></i></a>
                <h1>Job Tracker Project</h1>
            </div> 
            <div class="flex text-lg">
                <div class="container-sm mx-auto space-y-4 p-5 text-left">
                    <h1 class="text-2xl">Welcome!</h1>
                    <p>Unfortunately this website is still under construction,
                        but please feel free to check out the projects related to this
                        website! Those github links will end up in the list below. 
                        Some planned projects include:
                    </p>
                    <ul class="ml-5 list-disc">
                        <li>A Desktop Application</li>
                        <li>A Web Application</li>
                    </ul>
                    <p>
                        This website is part of the server project that will
                        be used by the other projects. So hope to get those finished soon!
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>